<div class="ui container ">
  <h1 style="padding-top: 2rem; text-align: center;">Angular Todo List</h1>
  <div class="ui form">
    <div class="ui field">
      <input type="text" autofocus [(ngModel)]="description" name="description" (keyup.enter)="saveTask()" autocomplete="off"
        placeholder="Ketik disini, Enter untuk menyimpan tugas.">
    </div>
    <div *ngFor="let data of data.item" class="ui centered card" style="width: 100%;">
      <div class="content" *ngIf="data.status === 'TODO'">
        <span class="ui left floated">{{data.description}}</span>
        <span class="ui right floated">
          <button class="ui primary button" (click)="doneTask(data.id)">Done</button>
          <button class="ui button" (click)="editTask(data.id)">Edit</button>
        </span>
      </div>
      <div class="content" *ngIf="data.status === 'DONE'" style="background-color: rgba(134, 134, 134, 0.1);">
        <span class="ui left floated">{{data.description}}</span>
        <span class="ui right floated">
          <button class="ui inverted red button" (click)="deleteTask(data.id)">Delete</button>
        </span>
      </div>
      <div class="content" *ngIf="data.status === 'EDIT'" >
        <input type="text" autofocus [(ngModel)]="data.description" name="data-description" (keyup.enter)="saveTask(data.id)" autocomplete="off"
          placeholder="Ketik disini, Enter untuk menyimpan tugas.">
      </div>
    </div>
  </div>
</div>
